.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#weather {
  position: absolute;
  right: 2%;
  font-weight: 40px;
}

#clock {
  position: absolute;
  top: 5vh;
  display: flex;
  font-size: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 25px;
  padding: 1px 10px;
  opacity: 68%;
}
.login {
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.loginInput {
  display: flex;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  opacity: 60%;
  margin-left: 5px;
  opacity: 70%;
  outline: none;
}

.loginSubmit {
  display: flex;
  background-color: yellow;
  border: none;
  border-radius: 20px;
  padding: 10px;
  opacity: 60%;
  margin-left: 5px;
  opacity: 70%;
  cursor: pointer;
}

#greeting {
  position: absolute;
  top: 20vh;
  display: flex;
  font-size: 45px;
  font-weight: bold;
  left: 50%;
  color: white;

  transform: translateX(-50%);
}

#change-name {
  position: absolute;
  top: 29vh;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 60px;
  border-radius: 20px;
  cursor: pointer;
  background-color: yellow;
  border: none;
  opacity: 70%;
  padding: 3px;
}

#quote {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  opacity: 68%;
}

#quote span:first-child {
  font-size: 25px;
  font-weight: 40px;
  justify-content: center;
  position: center;
  display: flex;
  text-align: center;
}

#quote span:last-child {
  font-size: 20px;
  font-style: italic;
  font-weight: 40px;
  justify-content: center;
  position: center;
  display: flex;
  text-align: center;
}

@keyframes weatherColorChange {
  0% {
    color: tomato;
  }
  20% {
    color: yellow;
  }
  40% {
    color: greenyellow;
  }
  60% {
    color: aquamarine;
  }
  80% {
    color: navy;
  }
  100% {
    color: purple;
  }
}

#weather {
  animation: weatherColorChange 6s linear infinite;
}

@keyframes loginButtonAnimation {
  0% {
    transform: rotateZ(-10deg);
  }
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(10deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
.loginSubmit:hover {
  animation: loginButtonAnimation 0.5s linear infinite;
}

@keyframes loginBtnClick {
  from {
    color: rgb(230, 230, 98);
  }
  to {
    color: yellow;
  }
}
.loginSubmit:focus {
  border-color: black;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

#quote {
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  height: 32px;
  border-right: 0.05em solid black;
  animation: cursor 0.5s ease infinite;
}
