.btnHome img {
  resize: both;
  max-width: 60px;
  height: auto;
  position: absolute;
  top: 9vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  padding: 0.2px;
}
.btnHome img:hover {
  background-color: white;
}

#userName {
  position: absolute;
  top: 20vh;
  display: flex;
  font-size: 45px;
  font-weight: bold;
  left: 50%;
  color: white;
  text-shadow: 2px 0 #4267b2, 0 1px#4267b2, 1px 0 #4267b2, 0 -1px #4267b2;
  transform: translateX(-50%);
}

#user-pie-chart,
#ideal-pie-chart {
  text-shadow: 1.5px 0 #4267b2, 0 1px#4267b2, 1px 0 #4267b2, 0 -1px #4267b2;
}
