.todo-form-all {
  position: absolute;
  top: 26vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 3%;
  transform: translateX(-3%);
}

.firstColumn,
.SecondColumn,
.ThirdColumn,
.FourthColumn,
.FifthColumn,
.SixthColumn,
.SeventhColumn {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.SeventhColumn {
  justify-content: center;
}

#todo-form span,
#todo-formSecond span,
#todo-formThird span,
#todo-formFourth span,
#todo-formFifth span,
#todo-formSixth span {
  color: #315aac;
  font-size: 20px;
  padding-bottom: 5px;
  border-radius: 25px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
}
.todoInput,
.todoInputSecond,
.todoInputThird,
.todoInputFourth,
.todoInputFifth,
.todoInputSixth,
.toTalMoneyInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  outline: none;
}

.todoInput::placeholder,
.todoInputSecond::placeholder,
.todoInputThird::placeholder,
.todoInputFourth::placeholder,
.todoInputFifth::placeholder,
.todoInputSixth::placeholder,
.toTalMoneyInput::placeholder {
  color: #315aac;
  font-weight: bold;
}

#todo-list,
#todo-listSecond,
#todo-listThird,
#todo-listFourth,
#todo-listFifth,
#todo-listSixth {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 238, 238);
  border-radius: 10px;
}

#todo-list li,
#todo-listSecond li,
#todo-listThird li,
#todo-listFourth li,
#todo-listFifth li,
#todo-listSixth li {
  display: flex;
  align-items: center;
}

#todo-list span,
#todo-listSecond span,
#todo-listThird span,
#todo-listFourth span,
#todo-listFifth span,
#todo-listSixth span {
  font-weight: bold;
  margin-left: 10px;
  padding: 12px;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-list button,
#todo-listSecond button,
#todo-listThird button,
#todo-listFourth button,
#todo-listFifth button,
#todo-listSixth button {
  display: flex;
  background-color: rgb(255, 238, 238);
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
  float: right;
  cursor: pointer;
  color: tomato;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

#todo-list span:hover,
#todo-listSecond span:hover,
#todo-listThird span:hover,
#todo-listFourth span:hover,
#todo-listFifth span:hover {
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-list button:hover,
#todo-listSecond button:hover,
#todo-listThird button:hover,
#todo-listFourth button:hover,
#todo-listFifth button:hover {
  width: 194px;
  padding: 12px;
}

#check-portfolio {
  border-radius: 15px;
  border: none;
  padding: 20px;
  color: white;
  font-weight: bold;
  background-color: #315aac;
}

.pie-chart {
  display: felx;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pie-chart i {
  color: #315aac;
  font-weight: bold;
  border-color: black;
}
.pie-chart span {
  display: flex;
  color: #315aac;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pie-chart span:last-child {
  font-size: 15px;
}
