.todo-form-all {
  position: absolute;
  top: 28vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 3%;
  transform: translateX(-3%);
}

.firstColumn,
.SecondColumn,
.ThirdColumn,
.FourthColumn {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.todoInput,
.todoInputSecond,
.todoInputThird,
.todoInputFourth,
.toTalMoneyInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  width: 150px;
  text-align: center;
  opacity: 70%;
  outline: none;
}

#todo-list,
#todo-listSecond,
#todo-listThird,
#todo-listFourth {
  display: flex;

  flex-direction: column;
  background-color: rgb(255, 238, 238);
  opacity: 70%;
  border-radius: 10px;
}

#todo-list li,
#todo-listSecond li,
#todo-listThird li,
#todo-listFourth li {
  display: flex;
}

#todo-list span,
#todo-listSecond span,
#todo-listThird span,
#todo-listFourth span {
  margin: 10px;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-list button,
#todo-listSecond button,
#todo-listThird button,
#todo-listFourth button {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 80%;
  margin: 10px 10px;
  border-radius: 5px;
  padding: 3px 5.5px;
  float: right;
  cursor: pointer;
  color: red;
  border: none;
  background-color: rgb(179, 174, 174);
}
