.todo-form-all {
  position: absolute;
  top: 28vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 3%;
  transform: translateX(-3%);
  opacity: 80%;
}

.firstColumn,
.SecondColumn,
.ThirdColumn,
.FourthColumn {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.todoInput,
.todoInputSecond,
.todoInputThird,
.todoInputFourth,
.toTalMoneyInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  text-align: center;
  outline: none;
}

#todo-list,
#todo-listSecond,
#todo-listThird,
#todo-listFourth {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 238, 238);
  border-radius: 10px;
}

#todo-list li,
#todo-listSecond li,
#todo-listThird li,
#todo-listFourth li {
  display: flex;
  align-items: center;
}

#todo-list span,
#todo-listSecond span,
#todo-listThird span,
#todo-listFourth span {
  font-weight: bold;
  margin-left: 10px;
  padding: 12px;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-list button,
#todo-listSecond button,
#todo-listThird button,
#todo-listFourth button {
  display: flex;
  background-color: rgb(255, 238, 238);
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
  float: right;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

#todo-list span:hover,
#todo-listSecond span:hover,
#todo-listThird span:hover,
#todo-listFourth span:hover {
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#todo-list button:hover,
#todo-listSecond button:hover,
#todo-listThird button:hover,
#todo-listFourth button:hover {
  width: 194px;
  padding: 12px;
}

#pie-chart {
  display: flex;
  justify-content: center;
}
